body{
    background-color: #eee;
}

/* general */
.desktop-padding{
    padding-left: 210px !important;
}

.subbody{
    padding: 16px;
    height: calc(100% - 64px - 16px);
    position: fixed;
    width: calc(100% - 210px);
    display: block;
    overflow-y: auto;
}

.vertical-center{
    position: absolute;
    top: 50%;
    left: 50%;
    /*transform: translateX(-50%), translateY(-50%);*/
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transform: translate(-50%, -50%);
}

/* inputs */
.input-field{
    margin-top: 0px;
}

/* sidenav */
    .sidenav{
        width: auto;
        display: block;
        width: 210px;
        background-color: #293033;
    }

    .sidenav hr{
        width: 80%;
        line-height: 1px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .sidenav li>a{
        color: #eee !important;
    }

    /* darken on hover */
    .sidenav .nav-sub li:hover{
        background-color: rgba(0, 0, 0, .2);
    }

    /* darken when active page */
    .sidenav li.active {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .nav-header{
        margin-left: 30px;
        text-transform: uppercase;
        font-weight: bold;
        color: #888;
        font-size: 13px;
    }

    .nav-sub li a{
        padding-left: 40px;
        overflow: hidden;
    }

    .nav-sub li a{
        font-size: 17px;
    }

/* topnav */
nav.navbar .brand-logo {
    float: left;
    font-size: 18px;
    color: rgba(0,0,0,0.87);
}

.nav-extended .nav-wrapper {
    padding-left: 24px;
}

.subnav{
    background-color: white;
    height: 64px;
    line-height: 64px;
    overflow:hidden;
}

.subnav .child{
    width: auto;
    overflow: visible;
    white-space: nowrap;
}

.subnav .hamburger i{
    font-size: 24px;
    line-height: 64px;
}
.subnav .hamburger{
    display: none;
    float: left;
}

.subnav .hamburger a:hover, .subnav .hamburger a:active{
    /* this does not work yet */
    background-color: red !important;
}

.subnav .pagename{
    font-size: 18px;
    color: #333;
    margin-left: 32px;
    margin-right: 16px;
    display: inline-block;
    float: left;
    cursor: default;
}

.subnav .buttons{
    float: right;
}

/* responsive */
@media only screen and (max-width : 992px) {
    .desktop-padding{
        padding-left: 0px !important;
    }

    .subbody{
        width: 100%;
    }

    .subnav{
        height: 56px;
        line-height: 56px;
    }
}
