{% extends "__layout__.html" %}

{% block head %}

<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script src="https://cdn.filesizejs.com/filesize.min.js"></script>

<script>
    $(document).ready(function(){
        $('.sidenav').sidenav()
        M.AutoInit()

        check_sizes = function(){
            var calculated_width = $(".pagename").outerWidth() + $(".buttons").outerWidth()
            if(calculated_width > $(".subnav").width()){
                $(".buttons").attr("style", "display: none")
                $(".hamburger").attr("style", "display: inline-block")
            }else{
                $(".buttons").attr("style", "display: inline-block")
                $(".hamburger").attr("style", "display: none")
            }
        }

        $(window).on("resize", check_sizes)

        setInterval(check_sizes, 500)

        socket = io()
        socket.on("connect", function(){
            __socketio_ready()
        })
    })

    __socketio_ready = function(){}
</script>

{% block subhead %}{% endblock %}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <ul class="sidenav sidenav-fixed lighten-3 white-text" id="sidenav-left">
                <li class="logo">
                    <a class="brand-logo" href="/">
                        <h3>wrapper</h3>
                    </a>

                    <a href="/logout">Logout</a>
                </li>

                <li>
                    <div class="nav-header">
                        Server
                    </div>

                    <ul class="nav-sub">
                        <li{% if request.endpoint == "admin.landing" %} class="active"{% endif %}><a href="/">Overview</a></li>
                        <li><a href="/chat"{% if request.endpoint == "admin.chat" %} class="active"{% endif %}>Chat</a></li>
                        <li><a href="/logs">Logs</a></li>
                        <li><a href="/config">Config</a></li>
                    </ul>
                </li>

                <li>
                    <div class="nav-header">
                        Wrapper
                    </div>

                    <ul class="nav-sub">
                        <li><a href="/backups">Backups</a></li>
                        <li><a href="/plugins">Plugins</a></li>
                        <li><a href="/scripts">Scripts</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- main body -->
        <div class="desktop-padding">
            <!-- topbar -->
            <nav class="subnav navbar nav-extended">
                <div class="child">
                    <div class="nav-wrapper">
                        <a href="#!" data-target="sidenav-left" class="sidenav-trigger left">
                            <i class="material-icons black-text">menu</i>
                        </a>

                        <a href="#" class="brand-logo">{% block pagename %}{% endblock %}</a>
                    </div>

                    {% if enable_navbar %}
                        <div class="nav-content">
                            <ul class="tabs">
                                {% block subnav %}{% endblock %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </nav>

            <!-- subbody -->
            <div class="subbody">
                {% block subbody %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
