{% extends "__layout_dashboard__.html" %}

{% set enable_navbar = False %}
{% block pagename %}Overview{% endblock %}}

{% block subhead %}
    <style>
        .chat{
            height: 80%;
            overflow-y: scroll;
        }
    </style>

    <script>
        __socketio_ready = function(){
            socket.emit("server")
            socket.emit("chat")

            // Server states
            socket.on("server.starting", function(payload){
                server.on_starting()
            })
            socket.on("server.started", function(payload){
                server.on_started()
            })
            socket.on("server.stopping", function(payload){
                server.on_stopping()
            })
            socket.on("server.stopped", function(payload){
                server.on_offline()
            })

            // Players
            socket.on("server.player.join", function(payload){
                console.log("server.player.join", payload)
            })

            socket.on("server.player.part", function(payload){
                console.log("server.player.part", payload)
            })

            socket.on("server.player.message", function(payload){
                console.log("server.player.message", payload)
                $("#chat").append("&lt;" + payload.player.username + "&gt; " + payload.message+"\n")
            })

            // Server RAM/CPU
            socket.on("server.status.ram", function(payload){
                $("#server-ram").text(filesize(payload.usage))
            })

            socket.on("server.status.cpu", function(payload){
                $("#server-cpu").text(payload.usage + "%")
            })

            // Initial server payload
            socket.on("server", function(payload){
                console.log(payload)

                var state = payload.state
                switch(state){
                    case 0:
                        server.on_starting()
                        break

                    case 1:
                        server.on_started()
                        break

                    case 2:
                        server.on_stopping()
                        break

                    case 3:
                        server.on_offline()
                        break
                }
            })

            socket.on("chat", function(payload){
                console.log("chat", payload)
                $("#chat").text("")
                for(i in payload){
                    var chat = payload[i]
                    var username = chat.player.username; var message = chat.message

                    $("#chat").append("&lt;" + username + "&gt; " + message+"\n")

                    console.log(username, message)
                }
            })
        }

        server = new Object()
        server.on_starting = function(){
            $("#server-state").text("Server starting")
            $("#card-status").removeClass("green red grey darken-2")
            $("#card-status").addClass("yellow darken-3")
        }
        server.on_started = function(){
            $("#server-state").text("Server started")
            $("#card-status").removeClass("yellow red grey darken-3")
            $("#card-status").addClass("green darken-2")
        }
        server.on_stopping = function(){
            $("#server-state").text("Server stopping")
            $("#card-status").removeClass("green red grey darken-2")
            $("#card-status").addClass("yellow darken-3")
        }
        server.on_offline = function(){
            $("#server-state").text("Server offline")
            $("#card-status").removeClass("green red yellow darken-3")
            $("#card-status").addClass("grey darken-2")
        }
    </script>
{% endblock %}

{% block subnav %}
<li class="tab">
    <a target="_self" href="#"{% if request.endpoint == "test"%} class="active"{% endif %}>
        Test
    </a>
</li>

<li class="tab">
    <a target="_self" href="#"{% if request.endpoint == "test"%} class="active"{% endif %}>
        Test 2
    </a>
</li>
{% endblock %}

{% block subbody %}
    <div class="row">
        <div class="col s12 m6">
            <div class="card green darken-2" id="card-status">
                <div class="card-content white-text">
                    <span class="card-title">
                        Status
                        <a href="#" data-target="server-dropdown" class="dropdown-trigger btn btn-small right grey lighten-3 black-text waves-effect waves-dark">Power</a>

                        <ul id="server-dropdown" class='dropdown-content'>
                            <li><a href="#!">Start</a></li>
                            <li><a href="#!">Restart</a></li>
                            <li><a href="#!">Stop</a></li>
                            <li><a href="#!">Freeze</a></li>
                          </ul>
                    </span>

                    <span id="server-state"></span>

                    <ul>
                        <li>
                            <b>Server Version</b>: <span id="server-version"></span>
                        </li>
                        <li>
                            <b>World Name</b>: <span id="server-world-name"></span>
                        </li>
                        <li>
                            <b>World Size</b>: <span id="server-world-size"></span>
                        </li>
                        <li>
                            <b>Server RAM</b>: <span id="server-ram"></span>
                        </li>
                        <li>
                            <b>Server CPU</b>: <span id="server-cpu"></span>
                        </li>
                        <li>
                            <b>Physical Disk Space</b>: <span id="server-disk-space"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card grey lighten-3">
                <div class="card-content black-text">
                    <span class="card-title">Players</span>

                    <table>
                        <thead>
                            <th>Face</th>
                            <th>Username</th>
                            <th>Actions</th>
                        </thead>
                        <tbody id="table-players">
                            <tr id="table-players-{uuid}">
                                <td><img src="/static/images/steve_skin_face.png" height="32"/></td>
                                <td>benbaptist</td>
                                <td>
                                    <button class="btn btn-small">Kick</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card blue-grey darken-1" id="card-status">
                <div class="card-content white-text">
                    <span class="card-title">Chat</span>
                    <pre class="chat" id="chat">&lt;benbaptist&gt; get the wood from the tree
&lt;wgrickel&gt; no man, get the wood from the chest
&lt;benbaptist&gt; ok fine
&lt;wahdah&gt; i made a torch
&lt;benbaptist&gt; congratulation</pre>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
